/*
  ============================
    Global
  ============================
*/
.btn {
  margin: 0;
  padding: 1rem 2rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--moderate-cyan);
}

.btn:hover {
  background-color: var(--dark-cyan);
}

.cardReward,
.cardSelect {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: 0.7rem;
}

.cardReward .information h2,
.cardSelect .information h2 {
  font-size: 2rem;
}

.cardReward .information span,
.cardSelect .information span {
  font-size: 1rem;
}

.title span {
  color: var(--moderate-cyan);
}

/*
  ============================
    CardReward
  ============================
*/
.content {
  height: 100%;
  width: 100%;
}

.cardReward .title,
.cardReward .information {
  display: flex;
  flex-direction: column;
}

.cardReward .title,
.cardReward .description,
.cardReward .information h2 {
  margin-bottom: 1.3rem;
}

@media (min-width: 768px) {
  .cardReward .title,
  .cardReward .information {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cardReward .information h2 {
    margin-bottom: 0;
  }
}

/*
  ============================
    CardSelect
  ============================
*/
.cardSelect .selection,
.cardSelect .title,
.cardSelect .selectionGroup,
.cardSelect .information {
  display: flex;
}

.cardSelect .title,
.cardSelect .selectionGroup,
.cardSelect .information {
  flex-direction: column;
}

.cardSelect .selection {
  align-items: center;
  margin-bottom: 1rem;
}

.cardSelect .selection input {
  margin-right: 1rem;
  width: 1.3rem;
  height: 1.3rem;
}

.cardSelect .selectionGroup > h2 {
  display: none;
}

.cardSelect .information {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .cardSelect .title,
  .cardSelect .selectionGroup {
    flex-direction: row;
    align-items: baseline;
  }
  
  .cardSelect .title h3 {
    margin-right: 1rem;
  }

  .cardSelect .selectionGroup {
    width: 100%;
    justify-content: space-between;
  }

  .cardSelect .selectionGroup > h2 {
    display: block;
  }

  .cardSelect .information h2 {
    display: none;
  }

  .cardSelect .information p {
    margin-bottom: 0;
    margin-left: 2.3rem;
  }
}
