/*
  ============================
    Global
  ============================
*/
.container {
  margin-bottom: 1.7rem;
  padding: 2rem;
  border-radius: 0.7rem;
  border: 1px solid whitesmoke;
  background-color: white;
}

.container > section {
  height: 100%;
  width: 100%;
}

.btn {
  padding: 0 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: var(--moderate-cyan);
}

.btn:hover {
  background-color: var(--dark-cyan);
}

/*
  ============================
    Project
  ============================
*/
.main {
  margin: 0 1.7rem;
}

@media (min-width: 376px) {
  .main {
    margin: 0 10%;
  }
}

@media (min-width: 1024px) {
  .main {
    margin: 0 22%;
  }
}

/*
  ============================
    Title
  ============================
*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h1,
.title p {
  margin-top: 1rem;
}

.title img {
  margin: 0;
  position: absolute;
  width: 4rem;
  object-fit: contain;
  transform: translateY(-4rem);
}

.callToActions {
  margin-top: 2rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.bookmark {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: whitesmoke;
}

.bookmark img {
  height: 100%;
}

.bookmark span {
  display: none;
}

@media (min-width: 500px) {
  .bookmark span {
    padding-left: 0.5rem;
    padding-right: 1.3rem;
    display: block;
    font-weight: 700;
  }
}

/*
  ============================
    Status
  ============================
*/
.status {
  display: flex;
  flex-direction: column;
}

.statusInfo {
  padding: 0.5rem;
  text-align: center;
}

.statusInfo::after {
  content: "";
  display: inline-block;
  width: 6rem;
  border-bottom: 1px solid lightgray;
}

.statusInfo:last-child::after {
  border-bottom: none;
}

.statusInfo > * {
  padding: 0.2rem 0;
}

@media (min-width: 768px) {
  .status {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .statusInfo {
    padding: 0;
    padding-left: 2rem;
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-right: 1px solid lightgray;
  }

  .statusInfo > * {
    align-self: flex-start;
  }

  .statusInfo:first-child {
    padding-left: 0;
  }

  .statusInfo:last-child {
    border-right: none;
  }

  .statusInfo::after {
    display: none;
  }
}
