html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Commissioner", "Roboto", -apple-system, BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, button {
  font-weight: 700;
}

span {
  font-weight: 500;
}

p, span {
  color: var(--dark-gray);
}

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}
